<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>House Price Predictor</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Predict House Price</h1>
    <form action="/predict" method="post">
        <label>Number of Rooms:</label>
        <input type="text" name="rooms"><br>

        <label>Area (sq ft):</label>
        <input type="text" name="area"><br>

        <label>Location Quality (1-10):</label>
        <input type="text" name="location_quality"><br>
        <label>Longitude:</label>
        <input type="text" name="longitude"><br>


        <input type="submit" value="Predict">
    </form>

    {% if prediction %}
        <h2>Predicted Price: ${{ prediction }}</h2>
    {% endif %}
</body>
</html>
